<% title 'Teams' %>

<table>
  <thead>
    <th>Name</th>
    <th>Code</th>
    <th></th>
  </thead>
  <tbody>
    <% if @teams.empty? %>
      <tr>
        <td colspan="3" class="empty">There are no teams, yet.</td>
      </tr>
    <% else %>
      <% @teams.each do |team| %>
        <tr>
          <td><%= link_to team.name, team_path(team) %></td>
          <td><%= team.code %></td>
          <td>
            <% if team.started? %>
              <%= link_to 'Reset', reset_team_path(team), method: :post, data: { confirm: 'Are you sure you want to reset this team?' }, class: 'button' %>
            <% else %>
              <%= link_to 'Start', start_team_path(team), method: :post, class: 'button' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3"><%= link_to "Create a new team", new_team_path, :class => 'button' %></td>
    </tr>
  </tfoot>
</table>

