<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="navigation">
    <div class="navigation-wrapper">
      <a href="<%= root_path %>" class="logo">
        <%= image_tag 'bike.png' %>
      </a>
      <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <div class="nav">
        <ul id="navigation-menu">
          <li class="nav-link"><%= link_to 'Dashboard', dashboard_index_path %></li>
          <li class="nav-link"><%= link_to 'Teams', teams_path %></li>
          <li class="nav-link"><%= link_to 'Checkpoints', checkpoints_path %></li>
        </ul>
      </div>
    </div>
  </header>


  <h1 id="title"><%= yield(:title) %></h1>

  <% flash.each do |name, message| %>
    <div class="flash-<%= name %>">
      <span><%= message %></span>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
